<%- include("../partials/start.ejs") %>
    <link rel="stylesheet" href="/css/collection_center_page.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/producer_card.css">

    </head>

    <body>
        <!-- main wrapper (keep everything inside main wrapper )-->
        <div class="main-wrapper">

            <!-- navbar -->
            <%- include("../partials/navbar.ejs") %>

            <!-- carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-img d-block w-100" src="./green-farm.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img d-block w-100" src="./wheat.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img d-block w-100" src="./tractor.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img d-block w-100" src="./strawberry.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> 

            <br>
            <br>
            <br>
            <!-- dashboard -->
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-xl-8 col-lg-12">
                        <!-- collect product -->
                        <div class="dashboard-left-section">
                            <h5 class="primary-small-subheading">Collect Farm produce</h5>
                            <div class="collection-form">
                                <form name="collection-form" onsubmit="return false">
                                    <label for="produceid">Produce ID</label>
                                    <input type="text" name="produceid" id="produceid">
                                    <button class="collect-btn" type="submit" onclick="handleSubmit()">Collect</button>
                                </form>
                            </div>
                        </div>
                        <!-- collected produce table -->
                        <div class="dashboard-left-section">
                            <h5 class="primary-small-subheading">Collected Farm produces</h5>
                            <div class="collected__produce-container">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Produce ID</th>
                                            <th>Name</th>
                                            <th>Weight</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% collected_farm_produces.forEach(produce => { %>
                                        <tr>
                                            <td><%= produce._id %></td>
                                            <td><%= produce.name %></td>
                                            <td><%= produce.weight %></td>
                                            <td><a href="/collection_center/info/<%= produce._id %>">Link</a></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- collect product -->
                        <div class="dashboard-left-section">
                            <h5 class="primary-small-subheading">Hardware Devices Status</h5>
                            <div class="collected__produce-container">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hardware ID</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% registered_hardwares.forEach(hardware => { %>
                                        <tr>
                                            <td><%= hardware.hardware_id %></td>
                                            <td><%= hardware.hardware_name %></td>
                                            <td><%= hardware.hardware_type %></td>
                                            <% if (hardware.status == "idle") { %>
                                                <td><span class="badge badge-success">Idle</span></td>
                                            <% } else {%>
                                                <td><span class="badge badge-warning">Occupied</span></td>
                                            <%}%>
                                        </tr>
                                    <% }) %>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- dashboard-right-section -->
                    <div class="col-xl-4 col-lg-12">
                        <div class="dashboard-right-section sticky">
                            <!-- collection_center_info -->
                            <div class="producer-card">
                                <div class="producer-card-header">
                                    <div class="producer-image" style="background-image: url(../collection_center.jpg);"></div>
                                    <div class="producer-info">
                                        <h3 class="producer-name"><%= collection_center.collection_center_name %></h3>
                                        <p class="producer-desc"><%= collection_center.address %> </p>
                                        <p class="producer-desc">pincode : <%= collection_center.pincode %> </p>
                                    </div>
                                </div>
                                <br>
                                <div class="producer-card-body">
                                    <ul class="status">
                                        <li>
                                            <span class="status-value">12</span>
                                            <span class="status-text">Collected</span>
                                        </li>
                                        <li>
                                            <span class="status-value">4</span>
                                            <span class="status-text">Shipping</span>
                                        </li>
                                        <li>
                                            <span class="status-value">5</span>
                                            <span class="status-text">Delivered</span>
                                        </li>
                                    </ul>
                                    
                                    <div class="action">
                                        <button class="btn btn-blue mx-1">Update Profile</button>
                                        <button class="btn btn-blue-outline">Track</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.forms['collection-form']['produceid'].focus();

        const handleSubmit = async () => {
            const idElement = document.forms['collection-form']['produceid'];

            const id = idElement.value.trim();

            if (id === '') {
                idElement.focus();
                return;
            }

            const response = await fetch(`/collection_center/collect/${id}`);
            if (response.status === 200) {
                window.location.href = response.url;
                idElement.value = '';
                return;
            }

            const json = await response.json();
            if (json.error || response.status !== 200) {
                alert(json.message);
            }

            idElement.value = '';
        }
    </script>
    <%- include("../partials/footer.ejs") %>
    </html>   